<form method="post" action="{% url 'app1:input' %}">
    {% csrf_token %}

    <fieldset>
        <legend>BODY MEASUREMENTS</legend>
        <pre>
            <label>Weight:</label> <input type="number" name="weight"/>
        </pre>
        <pre>
            <label>Waist :</label> <input type="number" name="waist"/>
        </pre>
        <pre>
            <label>Hip   :</label> <input type="number" name="hip"/>
        </pre>
        <pre>
            <label>Bust  :</label> <input type="number" name="bust"/>
        </pre>
        <pre>
            <label>Arms  :</label> <input type="number" name="arms"/>
        </pre>
        <pre>
            <label>Thighs:</label> <input type="number" name="thigh"/>
        </pre>
        <pre>
            <label>Bottom:</label> <input type="number" name="bottom"/>
        </pre>
        <pre>
            <label>Date  :</label> <input type="date" name="date"/>
        </pre>
        
        <button name = "submit"> Add </button>
    </fieldset>
</form>